/**
 * Place your custom CSS styles here.
 **/


.html5-video-info-panel .adr-button {
    border: 1px solid white;
    background: black;
    color: white;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
}

.html5-video-info-panel-content .adr-control-panel {
    min-width: 320px;
    font-size: 18px;
}




.adr-ad-sel-menu {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 95px;
    top: -95px;
    z-index: 24;
}

.adr-ad-sel-menu .adr-ad-selection {
    cursor: n-resize;
    box-sizing: border-box;
    border-right: 3px red solid;
    border-left: 3px red solid;
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
}

.adr-ad-sel-menu .adr-sel-bg {
    background-color: #f12b24;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 10px);
    background-color: #f12b24;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 10px);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.adr-ad-sel-menu .adr-playhead-left,
.adr-ad-sel-menu .adr-playhead-right {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: red;
    position: absolute;
    top: -18px;
    border-radius: 25% 25% 0 0;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
}

.adr-ad-sel-menu .adr-playhead-left {
    left: -9px;
}

.adr-ad-sel-menu .adr-playhead-right {
    right: -9px;
}

.adr-ad-sel-menu .adr-playhead-left::after,
.adr-ad-sel-menu .adr-playhead-right::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid red;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid transparent;

    position: absolute;
    bottom: -14px;
}

.adr-ad-sel-menu .adr-frame-by-frame {
    height: 56px;
    width: 86px;
    top: -57px;
    left: -36px;
    cursor: default;
    position: absolute;
}

.adr-ad-sel-menu .adr-frame-by-frame-left,
.adr-ad-sel-menu .adr-frame-by-frame-right {
    width: 38px;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    /* top: -35px; */

    color: rgba(255, 255, 255, 0.81);
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 21px;

    border-radius: 2px;
    background-color: rgba(28,28,28,0.9);
}

.adr-ad-sel-menu .adr-frame-by-frame-left {
    left: 4px;
}

.adr-ad-sel-menu .adr-frame-by-frame-right {
    right: 4px;
}

.adr-ad-help-text {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    line-height: 95px;
}

.adr-guide-container {
    z-index: 97;  /* TODO: ajust if needed */
    background: rgba(10, 0, 25, 0.41);
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.adr-guide-container .tip-image {
    position: absolute;
}

.adr-ad-sel-menu .adr-bar-click-ripple {
    height: 50px;
    width: 50px;
    background: rgba(38, 147, 230, 1);
    left: calc(50% - 25px);
    position: absolute;
    top: 15px;
    border-radius: 50%;
    transition: 1.2s;
}

.adr-ad-sel-menu .adr-bar-click-ripple.active {
    background: rgba(38, 147, 230, 0);
    height: 250px;
    width: 250px;
    left: calc(50% - 125px);
}

.pulse {
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(241, 43, 36, 1);
    animation: pulse 2s infinite;
}

.pulse:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(241, 43, 36, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(241, 43, 36, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(241, 43, 36, 0);
    }
}

.adr-ad-help-text.highlight {
    box-shadow: inset 0 0 0 200px rgba(241, 43, 36, 0.93);
    transition: box-shadow 1.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.adr-ad-help-text.highlight.inactive {
    box-shadow: inset 0 0 0 0px rgba(241, 43, 36, 0.93);
}

